@charset "utf-8";

@import "reset";
@import "variables";
@import "css3-minxins";


//  general styles

img {
    width: 100%;
    height: auto;
}

body {
    background-image: url('../images/bg.jpg');
}

a {
    text-decoration: none;
}

// header styles

header {
    width: 100%;
//  height: 50px;
    background-color: white;
    position: relative;
}

.top-header {
    width: $mainWidth;
//  height: 70px;
    margin: 0 auto;
    @media (max-width:770px) {
        margin: 0 10px;
        width: 100%;
    }
}

.logo {
    
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 70%;
    width: 400px;
    height: 50px;;
    margin-top: 15px;
    float: left;
    
    @media (max-width:470px) {       
        background-image: url(../images/small_logo.jpg);
        background-repeat: no-repeat;
        background-size: 15%;
    }
    
}


.social {
    float: right;
    margin-top: 18px;
    width: 110px;

    @media (max-width:770px) {
        float:none;
        position: absolute;
        right: 1%;
    }
    @media (max-width:570px) {
        display: none;
    }
    @media (max-width:470px) {
        float: none;
        display: block;
        position: absolute;
        top: 283px;
        left: 0;
        // margin-top: 300px;
        // z-index: 10;
		background: white;
		width: 100%;
		height: 40px;
		padding-left: 37%;
    }
}

.facebook {
    width: 30px;
    height: 28px;
    float: left;
    margin-left: 2px;
    background-image: url(../images/social_media_sprite.png);
    background-position: 29% 0%;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
    &:hover {
        background-position: 29% 100%;
    }
    @media (max-width:470px){
    	margin-right: 8px;
    }

}

.googleplus {
    width: 32px;
    height: 28px;
    float: left;
    margin-left: 2px;
    background-image: url(../images/social_media_sprite.png);
    background-position: 65% 0%;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
    &:hover {
        background-position: 65% 100%;
    }
	@media (max-width:470px){
		margin-right: 8px;
	}
}

.twitter {
    width: 34px;
    height: 28px;
    float: left;
    margin-left: 2px;
    background-image: url(../images/social_media_sprite.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
    &:hover {
        background-position: 100% 100%;
    }

}



.search {
    position: absolute;
    right: 0;
    bottom: 0;
    
    @media (max-width:770px) {
       right: 110px;
       bottom: 45px;      
    }

    @media (max-width:570px) {
        right: 10px;
    }

    @media (max-width:470px) {
        left: 0px;
        top: 0px;
        width: 100%;
    }
}

form input[type="text"]{
    width: 150px;
    position: relative;
    height: 25px;
    font: {
        size:0.7rem;
    }
    padding-left: 5px;
    background: $gray-light;
    border: none;
    @media (max-width:470px) {
        width: 100%;
        height: 40px;
        border-top: 1px solid $mainColor;
        border-bottom: 1px solid $mainColor;
    }
    
}

 .fa-search { 
     position: absolute;
     z-index: 555;
     bottom: 5px;
     right: 10px;
     font-size: 15px;
     color: $mainColor;
     @media (max-width:470px) {
         right: 13px;
         top: 11px;
     }
}



// nav styles

.hamburger {
	display: none;
	float: right;
	position: absolute;
	top: 15px;
	right: 14px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/menu.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
        background-position: 100% 100%;
    }
    @media (max-width:470px) {
        display: block;
    }
}




.mobile-nav {
    display: none;
    position: absolute;
    top: 16px;
    right: 10px;
    
    @media (max-width:470px) {
       display: block;
    }
}

.main-nav {
    display: flex;
    width: 100%;
    height: 25px;
    background-color: $navColor;
    
    ul {
        display: flex;
        justify-content: space-around;
    }
    
    & li:last-child  {
        margin-right: 150px;
        @media (max-width:700px) {
            margin-right: 0;
        }
    }

    li {
        list-style: none;
    }

    @media (max-width:470px) {
       height: 250px;
       background: $mainColor-light;
       ul {
       	flex-direction: column;
       	padding: 35px 0px;
       }
       li {
		display: flex;
		flex: 1;
		height: 40px;
		border-bottom: 1px solid $mainColor-dark;
		& :hover {
			background: white;
			color: $mainColor;
		}
       }
       a {
       	text-align: center;
       }


    }
}

.navbar {
    width: $mainWidth;
    height: 25px;
    margin: 0 auto;
    position: relative;
    background: $mainColor;
    
    a {
        color: white;
        font: {
            family: $navFont;
            size: 14px;
        }

        line-height: 25px; 
          
    }

    @media (max-width:470px) {
    	background: none;
    	a {
    		line-height: 40px;
    		font: {
    			weight: 600;
    			size: 18px;
    		}
    	}
    }

}



.wrapper{
    margin: 0 auto;
    width: $mainWidth;   
    font: {
        family:$bodyFont;
    }
    @media (max-width:770px) {
        width: 100%;
    }
}

//container styles

.container{
    margin: 10px auto;
    width: ($mainWidth - 200px);
    float: left;
//    display:flex;
//    flex-wrap: wrap;
//    flex-direction: column;
    @media (max-width:770px) {
        width: 100%;
        padding: 0 10px;
    }

}

@import "hero-section";
@import "article-section";



//sidebar styles

.sidebar{
    margin-top: 10px;
    margin-left: 5px;
    width: 195px;
    float: left;
    
    @media (max-width:770px) {
       display: none; 
        
    }
}

.sidbar-header {
    height: 25px;
    background-color: $mainColor;
    line-height: 25px;
    padding-left: 5px;
    color: white;
    font: {
        family: $navFont;
        size: 14px;
    }
    
}

.sidebar01 {
    img {
        width: 50px;
        height: 50px;
        padding: 5px;
//        float: left;
    }
    
    margin-bottom: 10px;
    
}

.sidebar01 h5 {
    width: 100px;
    margin-right: 40px;
    font: {
        size: 0.8rem;
    }
    float: right;
    height: 50px;
    padding-top: 15px;
    overflow-wrap: break-word;
    
}

.recipes:nth-of-type(odd){
    background: $gray-light;
}
.recipes:nth-of-type(even){
    background: $gray-lighter;
}

.sidebar02{
    background: white;
    
    li {
        padding: 6px;
        font: {
            size: 0.7rem;
            weight: 700;
        }
    }
    
    }




//footer styles
footer {
    width: 100%;
    height: 25px;
    background-color: $footerColor;
    display: flex;
    justify-content: space-around;
    
     @media (max-width:470px) {
         height: 35px;
         margin: 5px auto;
        overflow-wrap: break-word;
    } 
}

footer p {
    color: white;
    font: {
        family: $navFont;
        size: 12px;
    }
    
       a {
             color: white;
         }
    
     line-height: 25px;
    
     @media (max-width:470px) {
         line-height: 1.4;
         margin: 2px auto;
         padding-left: 20px;
         padding-right: 20px;
         text-align: center;
    } 
    
}



//  media queries testing



@media (max-width:470px){
	.show-mobile-nav .main-nav {
			/* open state */
			height: 275px;

	}

	.main-nav {
			/* hidden state */	
			height: 0;
			overflow: hidden;
			transition: height 0.4s ease;
			width: 100%;
			padding-right: 0;
	}

	.main-nav a {
		width: 100%;
	}

}










